spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/user_auth_db
    username: user_auth_user
    password: user_auth_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
